* {
    padding: 0;
    margin: 0
    ;
}

.sibodi {
    background-color:#081849;
}

.logo img {
    width: 50px;
    border-radius: 50%;
    margin: 12px;
}

.judul {
    color: #fafafa;
    font-size: 40px;
    font-weight: bold;
    margin: 12px;
}

.logo {
    display: flex;
}

#main-div{
    display: flex;
    background:linear-gradient(rgba(245, 75, 24, 0.2), #081849) , url(Home_pics/music_bg3.jpg);
    padding-top: 120px;
    padding-bottom: 120px;
    background-size: cover;
    background-position: center;
  }
  main{
    width: 75%; }
  
  .head{
      padding-left: 35%;
      margin: 12px;
      font-weight: 500;
      font-size: 40px;
      color:white; 
  }
  .content{
      display: flex;
    margin-left: 32px;
    margin-right: 14px;
      flex-wrap:wrap;
      width: 100%;
  }

  .cover{
    margin-right: 20px;
     border:2px solid white;
     border-radius: 20px;
     overflow: hidden;
     transition: 0.5s ease-in-out;
}
.cover img{
	width: 100%;
	height: 100%;
}

.walawe div:hover { 
    opacity: 1;
    transform: scale(1.1);
}

#latest_release a {
    text-decoration: none;
}

#latest_release .col-2 {
    width: 50%;
    margin-top: 50px;

}

.col-2 {
    width: 30%;
    float: left;    
}

.playson {
    width: 400px;
    height: 140px;
    border: 1px solid black;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.playson:hover {
    box-shadow: 0 0 20px 2px black;
}
.son-imae img {
    width: 30%;
    position: absolute;
    border-radius: 10px;
}

.son-imae {
    margin: 10px;
    overflow: hidden;
}

.playson h3 {
        text-align: center;
        color: black;
        font-family: sans-serif;
        margin-left: 100px;
}

.playbtn {
    display: none; 
    position: absolute;
    padding-left: 246px;
    padding-top: 20px;
    font-size: x-large;
}

.playson:hover .playbtn{
    display: block;
}

.artistpic {
    border: 2px solid black;
    height: 165px;
    width: 160px;
    border-radius: 50%;
    margin-left: 100px;    
}

.artistpic1 {
    border: 2px solid black;
    height: 165px;
    width: 160px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 100px;    
}

.artistpic a {
    text-decoration: none;
} 

.artistpic a:hover {
    text-decoration: underline;
}

.artistpic img {
    width: 100%;
    height: 100%;
}

.artistdetail span {
    color: pink;
    padding-left: 10px;
    margin-top: -200px  !important;
}

.artistpic1 a {
    text-decoration: none;
} 

.artistpic1 a:hover {
    text-decoration: underline;
}

.artistpic1 img {
    width: 100%;
    height: 100%;
}

#station {
    margin-top: 100px;
}